.block--border__bottom
  %h2= t('people.associations.current_roles')
  %ul.list--block
    - @history[:current].each do |role|
      = render '/people/associations/current_role', role: role, role_title: role.government_position.name, role_type: t('people.associations.government_role')
