-if @government_organisations.empty?
  = render partial: 'shared/empty_list', locals: { title: nil, description: t('no_content.empty_list.government_organisations.description', letter: params[:letter].upcase) }
-else
  %ul.list--block
    - @government_organisations.each do |government_organisation|
      - if government_organisation.name.present?
        %li
          .list--details
            %h2= link_to(government_organisation.name, group_path(government_organisation.graph_id))
