- timeline_roles.each do |role|
  - if RoleHelper.role_type(role, 'FormalBodyMembership')
    = render '/people/associations/timeline_role', role: role, role_title: "#{t('member').capitalize} #{t('of_the')} #{role.formal_body.name}", role_type: t('.committee_role')
