- page_title = title("#{t('.procedure').capitalize.pluralize}")

.section--primary#content{ tabindex: "0" }
  .container
    %h1
      %span= page_title

    %ul.list--block
      - @procedures.each do |procedure|
        %li
          .card
            .card__details
              %h2= link_to(procedure.name.capitalize, procedure_path(procedure.graph_id))
