%section.section--primary
  .container
    %h1= title("Parliaments")
    %ul.list--block
      - @parliaments.each do |parliament|
        %li
          .card
            .card__details
              %h2= link_to("#{parliament.date_range(date_format: '%Y').capitalize}", parliament_path(parliament.graph_id))
