- timeline_roles.each do |role|
  - if RoleHelper.role_type(role, 'OppositionIncumbency')
    = render '/people/associations/timeline_role', role: role, role_title: role.opposition_position.name, role_type: t('.opposition_role')
